# ignore sensitive credentials from the config directory
config/ingredients/secrets.yml

# R session files
.Rhistory
.RData
.Rapp.history
.Rproj.user/

# Environment management
renv/library/
renv/staging/
renv/python/

# Lock files (optional, if you want collaborators to re-generate exact envs)
renv.lock

# IDE-specific
.Rproj.user/

# OS-specific
.DS_Store

# Logs and temporary data
*.log

# Other common build/temp
*.tmp
*.bak

# Project metadata
*.Rproj

# ignore raw or large data
data/bronze/

# ignore all intermediate/generated data
data/silver/
data/gold/
